
body {
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
  padding-bottom: 16px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

/* Heading */

.header-content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.logo {
  height: 90%;
  width: auto;
}

.header-content h1 {
  font-size: 36px;
  margin: 0;
}

.header-content h4 {
  font-size: 16px;
  margin: 0;
}

/* Main content */

.project {
  width: 50%;
}

/* Small devices (tablets) */
@media (min-width: 768px) {
  .header-content {
    height: 80px;
  }

  .header-content h1 {
    font-size: 46px;
    margin: 0;
  }

  .header-content h4 {
    font-size: 26px;
    margin: 0;
  }

  .project {
    width: 33.333%;
  }
}

/* Medium devices (desktops) */
@media (min-width: 992px) {
  .header-content {
    height: 116px;
  }

  .header-content h1 {
    font-size: 56px;
  }

  .header-content h4 {
    font-size: 36px;
  }
}

/* Large devices (large desktops) */
@media (min-width: 1200px) { }
