
html {
  color: #777;
  font-family: sans-serif;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

/* HEADING */

header {
  max-height: 110px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
}

header img {
  margin: auto 0;
  height: 80%;
  width: auto;
}

.header-title {
  height: auto%;
  text-align: right;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.header-title h1 {
  margin: 0;
  font-weight: 100;
}

.header-title p {
  margin-top: 3px;
  margin-bottom: 0;
  font-weight: 200;
}

.hero {
  display: block;
  margin: 10px auto;
  max-width: 800px;
  width: 100%;
}

/* PROJECTS */

.featured-content {
  max-width: 800px;
  margin: 0 auto;
}

.featured-projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 31%;
  text-align: center;
}

.project img {
  width: 100%;
}

.project h3 {
  text-align: center;
}

.project a {

}
